<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<title>Cãootinho</title>
	</head>
	<body>
		<p>Seja bem-vindo ao website do nosso canil, onde residem cães adoráveis e amados um por um. Cada um espera pelo dia de poder ter o seu dono especial.</p>
		<br>
		<h4>Mais informações:</h4>
		<ul>
			<li><a href="sobre.html">Sobre nós</a></li>
			<li><a href="">Animais Disponíveis</a></li>
			<li><a href="">Contactos</a></li>
		</ul>
		<h4>Passos indispensáveis para adotar um animal:</h4>
		<ol>
			<li>Escolher o animal que quer adotar.</li>
			<li>Preencher o formulário para adotar o animal.</li>
			<li>Deslocar ao canil para receber o animal.</li>
		</ol>
	</body>
</html>
